<h1>Bienvenue a l'hotel multiplicatif !</h1>

<p>Vous avez reservé à l'étage n°<%= etage %> chambre <%= chambre %></p>


<h2>EtagexChambre= <%= compteur %></h2>

<p><%
    for(var i = 1 ; i <= compteur ; i++) {
    %>

    <%= i %>...

<% } %></p>
