<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
      <h1> Menu </h1>
      <a href="/">stopwatch</a>
      <h1> Search product by id</h1>
      <form method="post" action="searchProdById">
         <input type="text" name="id" /><button id="searchId">Search</button>
      </form>
      <h1> Examined product</h1>
      <h1> List of similar products</h1>
      <h1> List of all products</h1>
      <p id="timer"></p>
      <button id="startstop">start/stop</button>
      <button id="reset">reset</button>
      <button id="recordtime">record time</button>
    <p id="pasttime"></p>

    <table id = "records"></table>
    <script src="/stopWatchScript.js"></script>
    </body>
</html>
